{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Universal Tech Academy.</h1>

            {% if session['username'] %}
            <h3>Let's get started.</h3>
            {% else %}
            <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}
            <div style ="text-align:left;">
                <h4>Inspiring Minds, Shaping Futures</h4>
                <p> We are a community of thinkers, innovators, and change-makers dedicated to pushing the boundaries of knowledge. 
                    Our vibrant campus is a place where diverse perspectives come together to fuel ideas and drive discoveries that
                     impact our world. With a foundation of academic excellence, a commitment to research, and a focus on hands-on
                      learning, we prepare students to thrive in an ever-evolving global society.</p>
                <p>From clubs and organizations to athletics and cultural events, Our university offers a 
                    dynamic campus life that balances academic rigor with personal growth. Here, you’ll find a
                     supportive community and endless opportunities to make lifelong connections.</p>
                <p>Research is a cornerstone of our university's mission. Our students and faculty collaborate on groundbreaking projects that address some of society’s most pressing issues—from sustainable technologies and health innovations to social justice and global policy. As a student, you will have opportunities to engage in hands-on research alongside our experts,
                     gaining insights that will fuel your career and inspire positive change in the world.</p>
                <p>Our Career Services team provides personalized support to help students and graduates achieve their professional goals. 
                    Through career coaching, internship placements, and employer partnerships, we ensure that our
                     students are prepared for meaningful careers in their fields. Our robust alumni network, with over 100,000 members worldwide,
                     connects graduates with valuable resources, mentorship, and career opportunities
                      long after they leave campus.</p>
            </div>
        </div>
  </div>

{% endblock %}

